<div class="parallax-container">
  <div class="parallax"><%= image_tag('life.jpg') %></div>
</div>

<div class="container">
	<div class="row">
      <div class="col s12">
        <div class="card-panel z-depth-2 m-t-40">
          <span class="flow-text">
            <p>Share your Pimps with everyone !
              <%= link_to new_pimp_path, class: 'waves-effect waves-teal btn-flat right' do %>
                Let's go <i class="mdi-content-send right"></i>
              <% end %>
            </p>
          </span>
        </div>
      </div>
      <div class="col s12">
        <h1 class="center-align"><b>Latest Pimps updated</b></h1>
        <div class="row">
          <% @pimps.each do |pimp| %>
          <div class="col s12 m6 l4">
            <div class="card z-depth-4">
              <div class="card-image waves-effect waves-block waves-light">
                <%= link_to pimp do %>
                  <%= image_tag attachment_url(pimp, :image, :fill, 300, 200) %>
                <% end %>
              </div>
              <div class="card-content">
                <span class="card-title grey-text text-darken-4"><%= pimp.name %><i class="right" id="pimp_<%= pimp.id %>_likes"><%= render partial: "pimps/likes", locals: {pimp: pimp}%></i></span>
                <!-- <span class="card-title grey-text text-darken-4"><i class="fa fa-heart-o right"> 3</i></span> -->
                <p><i class="mdi-image-timer-auto"></i><%= pimp.user.name %></p>
                  <p><small><i class="mdi-device-access-time m-r-10"></i><%= local_time_ago(pimp.created_at) %><% if current_user == pimp.user %><%= link_to 'Destroy', pimp, method: :delete, data: { confirm: 'Are you sure?' }, class: 'right' %><% end %></small></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
      $('.parallax').parallax();
    });
</script>