<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Listing Pimps</h1>
      <p><%= link_to new_pimp_path, class: 'btn-floating btn-large waves-effect waves-light red right' do %>
            <i class="mdi-content-add"></i>
          <% end %>
      </p>
      <table id="responsive-table" class="bordered">
        <thead>
          <tr>
            <th>Image</th>
            <th>User</th>
            <th>Name</th>
            <th>Like</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @pimps.each do |pimp| %>
            <tr>
              <% if current_user == pimp.user %>
                <td><%= image_tag(attachment_url(pimp, :image, :fill, 500, 500), class: 'responsive-img materialboxed', size: '150') %></td>
                <td><%= pimp.user.name %></td>
                <td><%= pimp.name %></td>
                <td id="pimp_<%= pimp.id %>_likes"><%= render partial: "likes", locals: {pimp: pimp} %></td>
                <td><%= link_to 'Edit', edit_pimp_path(pimp) %></td>
                <td><%= link_to 'Destroy', pimp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>