<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pimp.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pimp.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag attachment_url(@pimp, :image, :fill, 100, 100) %>
</p>

<%= link_to 'Edit', edit_pimp_path(@pimp) %> |
<%= link_to 'Back', pimps_path %>
